.game_container {
  display: flex;
  padding: 24px 60px;
  align-items: flex-start;
  gap: 72px;
  align-self: stretch;
}

.side_panel {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 30%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.game_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  align-self: stretch;
}