.game_container {
  display: flex;
  padding: 24px 60px;
  align-items: flex-start;
  gap: 72px;
  align-self: stretch;

  max-width: 1200px;
  margin: auto;
}

.side_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 30%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.game_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  align-self: stretch;
}

@media (max-width: 800px) {
  .game_container {
    padding: 8px;
    gap: 40px;
    flex-direction: column;
  }

  .side_panel {
    width: 100%;
    max-width: 100%;
    align-items: center;

    & button {
      order: 1;
    }

    & h1 {
      order: 2;
    }

    & img {
      order: 3;
    }
  }

  .game_details {
    & section {
      align-items: center;
    }
  }
}